*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body, html{
  width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.app-header{
  text-align: center;
  >h1{
    text-align: center;
    margin: 1rem 0;
  }
}

#list-display-section{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  >*{
    width: 80%;
  }
  >#search-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.2rem 0.4rem;
    >#search-bar{
      flex: 4;
    }
    >#search-button{
      flex: 1;
      min-width: 4rem;
    }
  }
}

#list-container{
  margin: auto;
  padding: 0.4rem 0;
}

#todo-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  >.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.3rem;
  }
}

.todo-item{
  padding: 0.5rem;
  min-height: 5.4rem;
  >.item-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.4rem;
    >.item-details{
      width: 80%;
      >.item-title, >.item-desc{
        margin-bottom: 0.2rem;
      }
      >.item-desc{
        font-size: clamp(0.8rem, 1vw, 1rem);
        color: gray;
      }
      >.item-bottom{
        display: flex;
        justify-content: space-between;
      }
    }
    >.item-buttons  {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.2rem;
      >button{
        height: 1ren;
        display: flex;
        justify-content: center;
      }
    }
  }
}